.btn {
  background-color: var(--paleGrey);
  color: black;
  border: none;
  width: 144px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 20px 0px;
  border-radius: 5px;
  margin-left: 26px;
  margin-top: 26px;
  cursor: pointer;
}

.btnPrimary {
  color: white;
  background-color: var(--blueGreen);
}

.btn:hover {
  background-color: var(--lessPaleGrey);
}

.btnPrimary:hover {
  background-color: var(--lighterBlueGreen);
}

@media screen and (max-width: 480px) {
  .btn {
    width: 100%;
    margin: 10px auto;
  }
}